<?php

use App\Migrations\AbstractMigration;
use Illuminate\Database\Schema\Blueprint;

/**
 * Class $className.
 */
class $className extends $baseClassName
{
    /**
     * Migrate Down.
     */
    public function down()
    {
        $this->schema()->drop('');
    }

    /**
     * Migrate Up.
     */
    public function up()
    {
        $this->schema()->create('', function (Blueprint $table) {
            $table->increments('id');

            // ...

            $table->timestamps();
        });
    }
}
